/* ~~~~~~~~~~~~~~~ globals ~~~~~~~~~~~~~~~ */

$primary-color: #800080;
$primary-color-light: #b343b0;
$primary-color-dark: #4f0053;
$primary-color-text: #fff;

$secondary-color: #808000;
$secondary-color-light: #b2af3d;
$secondary-color-dark: #4f5300;
$secondary-color-text: #000;

$show-home-image: true;
$home-image: url('../img/louisville_cropped.jpg');

$background-opacity: 0.75;
