/*

*/
/* ~~~~~~~~~~~~~~~ menu start ~~~~~~~~~~~~~~~ */
/*
*/

// menu button
.menu_button {
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 3;
  cursor: pointer;
  @include easeOut();

  .menu_button-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    @include easeOut();
  }

  // fancy menu button
  &.close {
    transform: rotate(180deg);

    .menu_button-line {
      // rotate first line
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      // hide second line
      &:nth-child(2) {
        opacity: 0;
      }

      // rotate last line
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

/*

*/
/* ~~~~~~~~~~~~~~~ menu end ~~~~~~~~~~~~~~~ */
/*
*/
