/*

*/
/* ~~~~~~~~~~~~~~~ menu start ~~~~~~~~~~~~~~~ */
/*
*/

// menu button
.menu_button {
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 3;
  cursor: pointer;
  @include easeOut();

  .menu_button-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    @include easeOut();
  }

  // fancy menu button
  &.close {
    transform: rotate(180deg);

    .menu_button-line {
      // rotate first line
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
        background-color: $secondary-color-light;
      }

      // hide second line
      &:nth-child(2) {
        opacity: 0;
      }

      // rotate last line
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
        background-color: $secondary-color-light;
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100vw;
  opacity: 0.9;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  // menu_branding & menu_nav
  &_branding,
  &_nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
    @include easeOut();

    &.show {
      // when show class is added we want to slide the two items in
      transform: translate3d(0, 0, 0);
    }
  }

  // menu_nav
  &_nav {
    margin: 0;
    padding: 0;
    background: $primary-color_dark;
    list-style: none;
    // slide in from top
    transform: translate3d(0, -100%, 0);

    // menu_nav-item
    &-item {
      // slide in from right
      transform: translate3d(600px, 0, 0);
      @include easeOut();

      &.show {
        // when show class is added we want to slide the two items in
        transform: translate3d(0, 0, 0);
      }

      // color the a tag inside the link with class of current
      &.current > a {
        color: $secondary-color_light;
      }
    }

    // menu_nav-link
    &-link {
      display: inline-block;
      position: relative;
      font-size: 32px;
      text-transform: uppercase;
      padding: 1rem 0;
      font-weight: 400;
      color: #fff;
      text-decoration: none;
      @include easeOut();

      &:hover {
        color: $secondary-color_light;
      }
    }
  }

  &_branding {
    background: $primary-color;
    // slide in from bottom
    transform: translate3d(0, 100%, 0);

    &-portrait {
      width: 250px;
      height: 250px;
      background: url('../img/portrait.jpg');
      border-radius: 50%;
      border: solid 2px $secondary-color;
    }
  }
}

// delay each nav item 0.1s

// this is a basic for loop we have 4 items to loop through
@for $x from 1 through 4 {
  // change each child slightly so they all dont come in at the same time
  .menu_nav-item:nth-child(#{$x}) {
    // multiply $x by 0.1s for a small delay between each link
    transition-delay: $x * 0.1s;
  }
}

/*

*/
/* ~~~~~~~~~~~~~~~ menu end ~~~~~~~~~~~~~~~ */
/*
*/
