/*

*/
/* ~~~~~~~~~~~~~~~ work start ~~~~~~~~~~~~~~~ */
/*
*/

.projects {
  display: grid;
  grid-gap: 1rem;

  img {
    /* ~~~~~~~~~~~~~~~  */
    width: 100%;
    border: 3px solid $secondary-color;

    &:hover {
      /* ~~~~~~~~~~~~~~~  */
      opacity: 0.5;
      border-color: $secondary-color_dark;
      @include easeOut;
    }
  }
}

/*

*/
/* ~~~~~~~~~~~~~~~ work end ~~~~~~~~~~~~~~~ */
/*
*/
